$white: #fff;
$dark: #263238;
$middle: #bdbdbd;
$light: #E0E0E0;

$blue: #303F9F;
$blue-dark: #4A148C;

$alert: #f44336;
$green: #388E3C;


$header-height: 3rem;


$heading-font-stack: 'Josefin Slab', 'Courier New',serif;
