<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Mailer</title>
    <link rel="stylesheet" href="/css/home.css">
  </head>
  <body>     
    <div id="main">      
    <h1>This is index page!</h1>  
    <a href="/app">Go to app!</a>
    </div>
    <div class="popups hidden">
        <div class="form login">
            <p class="message"></p>
            <form action="/login" method="post" id="login-form">
                <div class="form_group">
                <label>Email</label>
                <input type="email" name="email" class="email">
                </div>
                <div class="form_group">
                <label>Password</label>
                <input type="password" name="password" class="password">                
                </div>
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="form signup">
            <p class="message"></p>
            <form action="/signup" method="post" id="signup-form">
                <div class="form_group">
                <label>Email</label>
                <input type="email" name="email" class="email">
                </div>
                <div class="form_group">
                <label>Password</label>
                <input type="password" name="password" class="password">                
                </div>
                <div class="form_group">
                <label>Confirm Password</label>
                <input type="password" name="password_2" class="password_2">                
                </div>
                <button type="submit">Signup</button>
            </form>
        </div>  
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
			  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
			  crossorigin="anonymous"></script>
    <script src="/js/home.js"></script>
  </body>
</html>