<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HTML Mailer</title>
    <link rel="stylesheet" href="/css/style.min.css">
</head>

<body>
    <div id="home">

        <header class="home-header" role="banner">
            <div class="container-fluid">
                <nav role="navigation">
                    <ul class="no-bullet">
                        <li><a href="#" class="login-btn">Login</a></li>
                        <li><a href="#" class="signup-btn cta">Signup</a></li>
                    </ul>
                </nav>
            </div>
        </header>
        <div id="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6 text">
                        <h1>Send &amp; track<br>your HTML email</h1>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam fermentum enim vel mattis imperdiet. Nulla facilisi. Praesent eu arcu id turpis dapibus viverra. Nullam scelerisque, nulla sit amet dictum aliquet, libero ligula imperdiet ipsum, ac imperdiet purus mauris id purus. Pellentesque lacinia erat ut pretium blandit. </p>
                        <a href="#" class="cta signup-btn">Get Started</a>
                    </div>
                    <div class="col-md-6 image">
                        <img src="img/hero.png" class="hero-img">
                    </div>
                </div>
            </div>
        </div>
        <div class="pop-overlay hidden">            
            <div class="form login hidden">
                <p class="message"></p>
                <form action="/login" method="post" id="login-form">
                    <h2>Login</h2>                    
                    <div class="form-group">
                        <input type="email" name="email" class="email" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="password" placeholder="Password">
                    </div>
                    <button type="submit">Login</button>
                </form>
            </div>
            <div class="form signup hidden">
                <p class="message"></p>
                <form action="/signup" method="post" id="signup-form">
                    <h2>Signup</h2>                   
                    <div class="form-group">
                        <input type="email" name="email" class="email" placeholder="Email">
                    </div>
                    <div class="form-group">

                        <input type="password" name="password" class="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <input type="password" name="password_2" class="password_2" placeholder="Confirm password">
                    </div>
                    <button type="submit">Signup</button>
                </form>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        <script src="/js/home.js"></script>
    </div>
</body>

</html>