header.site-header {
    @extend .row;
    @extend .justify-content-between;
    background: $dark;
    z-index: 500;
    position: relative;
    animation: slideDown .5s;
    .logo-wrap {
        @extend .col-6;
        @extend .col-lg-3;
        @extend .col-xl-2;
        padding: 0 1em;
        a {
            //target <a> created by react
            &:hover {
                text-decoration: none;
            }
        }
        .logo {
            font-family: $heading-font-stack;
            font-weight: bold;
            line-height: $header-height;
            color: $light;
            position: relative;
            top: .125em;
            .thin {
                font-weight: normal;
                color: $light
            }
        }
        @include media-breakpoint-up(lg) {
            background: $light;
            text-align: center;
            .logo {
                color: $dark;
                font-size: 1.25em;
                .thin {
                    color: $dark;
                }
            }
        }
    }
    .buttons-wrap {
        @extend .col-auto;
        padding: 0;
        button {
            position: relative;
            line-height: $header-height;
            border: none;
            background: none;
            transition-duration: .5s;
            width: $header-height;
            i {
                color: $light;
            }
            &:hover,
            &.active {
                background: $middle;
                i {
                    color: $dark;
                }
            }
            &#main-nav {
                display: inline-block;
                @include media-breakpoint-up(lg) {
                    display: none;
                }
            }
            span.new-notif {
                display: block;
                position: absolute;
                top: 1.75rem;
                right: .25rem;
                background: $alert;
                color: $white;
                font-weight: bold;
                line-height: 1.3em;
                width: 1.3em;
                font-size: .66em;
                border-radius: .6em;
            }
        }
    }
}

#user-nav {
    @extend .no-bullet;
    position: absolute;
    background: $middle;
    top: $header-height;
    right: 0;
    width: 200px;
    text-align: center;
    animation: slideDownNav 1s;
    z-index: 450;
    li {
        a {
            display: block;
            line-height: $header-height;
            color: $dark;
            transition-duration: .5s;
            &:hover {
                background: $light;
                color: $dark;
                text-decoration: none;
            }
            i {
                width: $header-height;
                line-height: $header-height;
                float: left;
            }
        }
    }
}

#notif-window {
    @extend .no-bullet;
    text-align: center;
    position: absolute;
    background: $dark;
    top: $header-height;
    right: 0;
    z-index: 450;
    overflow-y: auto;
    border-bottom: .25em solid $dark;
    width: 100%;
    max-width: 400px;
    height: 70vh;
    max-height: 600px;
    animation: slideDownNav 1s;
    li {
        .notif-single {
            margin: .25em .375em;
            background: #eee;
            color: $light;
            font-size: .8em;  
            padding: 1em;
            transition-delay: 20s;
            p {
                margin-bottom: 0;
                .subject {
                    display: block;
                    font-size: 1.25em;
                }
            }
            &.unread {
                background: white;
            }
            
            .date {
                display: block;
                text-align: right;
            }
        }
    }
}